.titlebar {
	width: 100%;
	min-height: 2.5em;
	padding: .5em;
	background: #ccc;
	border-bottom: #FFF;
	color: #fff;
}

.article-list .bezeichnung span {
	color: #333;
}

.article-list div.ean {
	color: #777;
	font-size: .6em;
}

.article-list div.ean span {
	font-style: italic;
}