@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(../fonts/Lato.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/OpenSans-CondLight.ttf) format('truetype');
}

body {
	font-family: 'Lato';
}

.titlebar {
	height: 3em;
	background: url('../images/header_back.png') repeat-x;
	background-size: contain;
	color: #fff;
}

.titlebar div.logo {
	background: url('../images/header_logo.png') no-repeat;
	background-size: auto 100%;
	width: 4em;
}

.titlebar div.text {
	margin: .45em;
	font-size: 1.1em;
}

.x-carousel-indicator {
	top: -5px;
}

.info {
	font-family: 'Open Sans Condensed';
	background: 15px center no-repeat #FFF url('../images/info.png');
	background-size: 40px;
	padding: .5em .5em 0 60px;
	border: 1px solid #00529B;
}

.info .message {
	padding: .5em;
	padding-top: 0;
}

#continueshopping .message {
	font-family: 'Open Sans Condensed';
}

.btnContainer {
	margin-bottom: 50px;
}

.startbox {
	
}




.locationInfo {
	font-family: 'Open Sans Condensed';
	font-size: .9em;
	margin: .6em;
	padding-left: 30px;
	background: url('../images/location.svg') no-repeat;
	background-size: auto 100%;
}


#cartitemlist div.itemDetails {
	display: table;
}

#cartitemlist span {
	display: table-cell;
}

#cartitemlist span.menge {
	color: #333;
	padding-right: .5em;
}

#cartitemlist span.bezeichnung {
	font-family: 'Open Sans Condensed';
	width: 100%;
}

#cartInfo div.summe {
	text-align: right;
	padding-top: .2em;
	border-top: 1px solid #175f9a;
}

#cartInfo div.summe span.text {
	font-size: .8em;
	color: #999;
	width: 100%;
	padding-right: .8em;
}

#cartInfo div.summe span.zahl {
	padding-right: 1em;
}



#addArticleBtn {
	font-family: 'Open Sans Condensed';
}



.article-list .bezeichnung span {
	color: #333;
}

.article-list div.ean {
	color: #777;
	font-size: .6em;
}

.article-list div.ean span {
	font-style: italic;
}